header{
		background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(../g12.jpg);
}
.title{
	position: absolute;
	top: 20%;
	left: 30%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 70px;
}

.about{
	position: absolute;
	top: 40%;
	text-align:left;
}

.about p{
	color: #fff;
	font-size: 30px;
}