*{
	margin: 0;
	padding: 0;
	font-family: Ariel;
}

header{
	/*background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../4.jpg);*/
	height: 100vh;
	background-size: cover;
	background-position: center;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #000000;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

ul li a:hover{
	background-color: #000000;
	color: #fff;
}

ul li.active a{
	background-color: #000000;
	color: #fff;
}

.logo img{
	float: left;
	width: 90px;
	height: auto;
}

.main{
	max-width: 1500px;
	margin: auto;
}
