header{
		background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../4.jpg);
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #000000;
	font-size: 70px;
}

.button{
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn{
	border: 1px solid #000000;
	padding: 10px 30px;
	color: #000000;
	text-decoration: none;
	transition: 0.6s ease;
}

.btn:hover{
	background-color: #000000;
	color: #fff;
}